0x01-variables_if_else_while/1-last_digit
0x01-variables_if_else_while/0-positive_or_negative
0x01-variables_if_else_while/2-print_alphabet
0x01-variables_if_else_while/3-print_alphabets
0x01-variables_if_else_while/4-print_alphabt
0x01-variables_if_else_while/5-print_numbers
0x01-variables_if_else_while/6-print_numberz
0x01-variables_if_else_while/7-print_tebahpla
0x01-variables_if_else_while/8-print_base16
0x01-variables_if_else_while/9-print_comb
0x00-hello_world/4-puts
0x02-functions_nested_loops/0-putchar
0x02-functions_nested_loops/1-alphabet
0x02-functions_nested_loops/2-print_alphabet_x10
0x02-functions_nested_loops/3-islower
0x02-functions_nested_loops/4-isalpha
0x02-functions_nested_loops/5-sign
0x02-functions_nested_loops/6-abs
0x02-functions_nested_loops/7-print_last_digit
0x02-functions_nested_loops/8-24_hours
0x02-functions_nested_loops/9-times_table
0x02-functions_nested_loops/10-add
0x02-functions_nested_loops/11-print_to_98
0x02-functions_nested_loops/_putchar.c
